"*":
  "atom-material-ui":
    colors:
      abaseColor: "#967138"
  "atom-package-deps":
    ignored: []
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "about"
      "archive-view"
      "github"
      "image-view"
      "link"
      "markdown-preview"
      "tabs"
      "welcome"
      "autocomplete-plus"
      "autocomplete-atom-api"
      "autocomplete-html"
      "autocomplete-css"
      "status-bar"
      "autoflow"
      "autosave"
      "background-tips"
      "bookmarks"
      "dalek"
      "deprecation-cop"
      "dev-live-reload"
      "fuzzy-finder"
      "incompatible-packages"
      "keybinding-resolver"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-mustache"
      "language-objective-c"
      "language-git"
      "language-go"
      "language-hyperlink"
      "language-java"
      "language-less"
      "language-make"
      "language-perl"
      "language-property-list"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "package-generator"
      "styleguide"
      "symbols-view"
      "update-package-dependencies"
      "whitespace"
      "language-gfm"
      "go-to-line"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "base16-tomorrow-light-theme"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    lineHeight: 2
    scrollPastEnd: true
    showLineNumbers: false
    softWrap: true
    tabLength: 4
  emmet:
    extensionsPath: "~/.atom/packages/emmet"
  "exception-reporting":
    userId: "1c853bc3-801b-453b-862b-4d375310bd42"
  "ide-php":
    phpPath: "/usr/local/Cellar/php/7.2.3_2"
  minimap: {}
  pigments:
    dismissableReloadNotifications: false
    markerType: "native-dot"
    notifyReloads: false
  "project-manager":
    alwaysOpenInSameWindow: true
  "project-plus": {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
