'body':
    'f8': 'pane:show-next-item'
    'f9': 'pane:show-previous-item'

'.platform-darwin':
    'F1': 'tree-view:toggle'

'atom-text-editor':
    'alt-h': 'core:move-left'
    'alt-j': 'core:move-down'
    'alt-k': 'core:move-up'
    'alt-l': 'core:move-right'
    'alt-i': 'editor:move-to-end-of-screen-line'
    'alt-o': 'editor:newline-below'

'atom-text-editor.vim-mode-plus.insert-mode':
    'j j': 'vim-mode-plus:activate-normal-mode'
