.atom-dock-toggle-button-visible {
    display: none;
}

.editor .wrap-guide {
    background: none;
}

atom-text-editor atom-text-editor-minimap, html atom-text-editor-minimap {
    display: none;
}

atom-text-editor .gutter .line-number.git-line-modified {
    border-left: 5px solid #079fa9;
    padding-left: calc(1.5em - 15px);
}

atom-text-editor .gutter .line-number.git-line-added {
    border-left: 5px solid #008218;
    padding-left: calc(1.5em - 15px);
}

atom-text-editor .gutter {
    background-color: #ffffff;
    color: #b4b7b4;
    margin-left: 10px;
}
